.breadcrumb-1-x-term {
    font-family: Roboto,sans-serif;
    font-size: .9rem;
    font-weight: 500;
    color: #3f3f40;
    text-transform: none;
    letter-spacing: 0;
    padding-left: .25rem;
    padding-right: .25rem;
}