.flexRowContent--btn-comprar :global(.vtex-buton){
    background-color: black;
    border: none;
    border-radius: 0;
}

.flexRowContent--btn-comprar .vtex-button {
    height: 3rem;
    width: 95%;
    margin: 2rem 0 auto auto;
    background-color: black;
 
}  
@media (max-width:768px){
    .flexRowContent--btn-comprar :global(.vtex-buton){
     padding-top: 10px;
    padding-bottom: 5px;   
    }
    
}

