/* ---------------------------------------- desktop */
/* ------------------------------- section-three*/
/* ---------home-flex-layout-mid-banner.jsonc*/
.infoCardContainer--info-card-mid--banner-one {
    height: calc(44vw + 4px);
    max-height: 854px;
}
.infoCardContainer--info-card-mid--banner-two {
    height: calc(22vw);
    max-height: 425px;
}
.infoCardContainer--info-card-mid--banner-three {
    height: calc(22vw);
    max-height: 425px;
}
.infoCardHeadline {
    justify-content: center;
    width: 100%;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 46px;
    letter-spacing: .2rem;
    color: var(--primary-text-infoCard);
    text-transform: uppercase;
    text-align: center;
    display: flex;
    margin: 0 auto;
}
.infoCardCallActionContainer :global(.vtex-button) {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 1px solid var(--primary-button-infoCard);
    border-radius: 0;
    transition: all .3s ease-in-out; 
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: .1em!important;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: .75rem;
    letter-spacing: .6rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    color: white;
  }

  .infoCardCallActionContainer :global(.vtex-button):hover {
    width: 250px;
    height: 45px;
    color: var( --text-slider-button);
    background-color: var(--secondary-button-infoCard);
    border: 1px solid var(--secondary-button-infoCard);
    border-radius: 0;
    transition: all .3s ease-in-out; 
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: .1em!important;
    font-family: Roboto,sans-serif;
    font-size: .75rem;
    letter-spacing: .6rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
  }


  
/* ---------------------------------------- desktop */
/* ------------------------------- section-five*/
/* --------------------- home-flex-layout-bottom-banner.jsonc*/
.infoCardContainer--info-card-bottom--banner-one {
    height: calc(44vw + 4px);
    max-height: 854px;
}
.infoCardContainer--info-card-bottom--banner-two {
    height: calc(22vw);
    max-height: 425px;
}
.infoCardContainer--info-card-bottom--banner-three {
    height: calc(22vw);
    max-height: 425px;
}
.infoCardContainer--info-card--home__slider--media {
    height: 100%;
    width: 100%;
}
.infoCardCallActionContainer--info-card--home__slider--media  :global(.vtex-button){
    position: absolute;
    border: none;
    border-radius: 5%;
    padding: 0.7% 2%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    cursor: pointer;
    background-color: var(--primary-slider-button);
    bottom: 30%;
    left: 45%;
    width: 150px;
    height: 20px;
    transition: all .3s ease-in-out; 
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: .1em!important;
    font-family: Roboto,sans-serif;
    color:white !important;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .2rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-family: Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
    
  }

  .infoCardCallActionContainer--info-card-mid--banner :global(.vtex-button){
    position: absolute;
    border: none;
    border-radius: 5%;
    padding: 0.7% 2%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px, rgba(0, 0, 0, 0.19) 0px 6px 20px 0px;
    cursor: pointer;
    background-color: var(--primary-slider-button);
    bottom: 30%;
    left: 45%;
    width: 150px;
    height: 20px;
    transition: all .3s ease-in-out; 
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: .1em!important;
    font-family: Roboto,sans-serif;
    color:white !important;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .2rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-family: Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
  }


.infoCardCallActionContainer--info-card--home__slider--media  :global(.vtex-button):hover  {
    position: absolute;
    border: none;
    border-radius: 5%;
    padding: 0.7% 2%;
    cursor: pointer;
    bottom: 30%;
    left: 45%;
    width: 150px;
    height: 20px;
    transition: all .3s ease-in-out; 
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-bottom: .1em!important;
    font-family: Roboto,sans-serif;
    color: #000;
    font-weight: 700;
    font-size: .75rem;
    letter-spacing: .2rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
    font-family: Roboto, sans-serif;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 12px 16px 0px, rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
    background-color: var(--secondary-slider-button);
  }



  @media only screen and (max-width: 600px) {

      .infoCardCallActionContainer :global(.vtex-button) {
        padding: 0.7% 2%;
        bottom: 30%;
        width: 157px;
        height: 33px;
        font-size: .625rem;
        letter-spacing: 1.5px;
      }
      .infoCardCallActionContainer :global(.vtex-button):hover {
        width: 157px;
        height: 33px;
        font-size: .625rem;
        font-size: .625rem;
        letter-spacing: 1.5px;
       
      }
      .infoCardContainer--mobile-info-card-mid--banner-one{
        height: 120vw;
        width: 100%;
      }
      .infoCardContainer--mobile-info-card-mid--banner-two{
        height: 70vw;
       
      
      }
      .infoCardContainer--mobile-info-card-mid--banner-three{
        height: 70vw;
      }
      .infoCardHeadline {
        font-weight: 600;
        font-size: 26px;
        
    }

    .infoCardContainer--mobile-info-card-bottom--banner-one{
      height: 120vw;
      width: 100%;
    }
    .infoCardContainer--mobile-info-card-bottom--banner-two{
      height: 70vw;
     
    
    }
    .infoCardContainer--mobile-info-card-bottom--banner-three{
      height: 70vw;
    }

  }

  @media only screen and (max-width: 600px) {
    .infoCardCallActionContainer--info-card-mid--banner :global(.vtex-button){

     
 
      width: 80px;
      height: 18px;
      font-weight: 400;
      text-transform: none;
      font-size: 1rem;
      letter-spacing: 0;

    
    }
  
  
  .infoCardCallActionContainer--info-card--home__slider--media  :global(.vtex-button):hover  {
    font-weight: 500;
    text-transform: none;
    font-size: 1rem;
    letter-spacing: 0;
    }


    .imageElement--mobile-banner-slider-img{

      width: unset;
      max-width: 100%;
      max-height: 200px;
      height: auto;
      margin: 0 auto;
    }
    .imageElementLink--mobile-banner-slider-img {
      text-align: center;
      vertical-align: middle;
      width: 100%;
      height: 100%;
  }

  }

