/* ---------------------------------------- desktop */
/* -------------------------------clase Christian */
.paginationDotsContainer--home__slider{
   transform: translateY(30px);  
}


/* ---------------------------------------- desktop */
/* ------------------------------- section-one*/
/* ----------------home-slider-media.jsonc*/
.slideChildrenContainer{
   width: 100%;
   height: auto;
   overflow: hidden;
}
.imageElement{
   width: 100%;
   max-height: auto;
}
.videoContainer--home__slider{
   width: 100%;
   height: auto;
   overflow: hidden;
   border-width: 0;
}
.videoElement{
   width: 100%;
   max-height: auto;
   border-width: 0;
}
.media__slider{
   border-width: 0;
}
.sliderArrows {
   background-color:var(--media-arrow)!important;
   padding: 12px 14px;
   border-radius: 50%;
   transform: translateY(-50%);
}
.caretIcon{
   color: #fff;
}
.sliderArrows--home__slider {
   background-color:transparent!important;
   padding: 12px 14px;
   border-radius: 50%;
   transform: translateY(-50%);
}
.caretIcon--home__slider{
   color: black;
}
.bullet__item--image--mid--banner-slider-content-cardexternalClass{
   width: 600px;
   height: 600px;
   object-fit: cover;
   max-width: 22vw;
}
.bullet__item--link--mid--banner-slider-content-card{
   text-decoration: none;
}

.bullet__item--title{
   margin: .5rem 0 0;
   font-size: 0.7rem;
   font-family: Roboto,sans-serif;
   font-weight: 600;
   line-height: 1.5rem;
   text-transform: uppercase;
   color: var(--primary-link-text);
   text-align: center;
  
}


@media only screen and (max-width: 600px) {
.sliderArrows {
   background-color:var(--media-arrow)!important;
   padding: 12px 14px;
   border-radius: 50%;
   transform: translateY(-50%);
}
.bullet__item--image--mid--banner-slider-content-cardexternalClass{
   width: 300px;
   height: 300px;
   object-fit: cover;
   max-width: 50vw;
}
}



