.paginationDotsContainer--home__slider{
   transform: translateY(30px);
   
}

.slideChildrenContainer{
   width: 100%;
   height: auto;
   overflow: hidden;
}


.imageElement{
   width: 100%;
   max-height: auto;
}


.videoContainer--home__slider{
   width: 100%;
   height: auto;
   overflow: hidden;
   border-width: 0;
}

.videoElement{
   width: 100%;
   max-height: auto;
   border-width: 0;
}

.media__slider{
   border-width: 0;
}