
.paragraph--title-menu{
    margin: .75rem 0;
    font-family: Roboto,sans-serif;
    color: #000;
    letter-spacing: .2rem;
    font-size: .75rem;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    line-height: 1.5;
    box-sizing: border-box;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.link--rich-text__submenu {
    color: #000;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .1rem;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    line-height: 1.5;
    text-justify: auto
}

.link--rich-text__submenu:hover {
    text-decoration:underline
}

.paragraph--rich-text__submenu{
    margin: 0;
}



.wrapper--rich-text__boton {
    border-color: var(--primary-button-contact-border);
    background-color: var(--primary-button-contact-background);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 60px;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: 1px solid #bfbfbf;
    color: var(--primary-button-contact-text);
    
}

.wrapper--rich-text__boton:hover {
    
    filter: invert(97%) sepia(15%) saturate(17%) hue-rotate(187deg) brightness(113%) contrast(100%);
}

.link--rich-text__boton {
    color: var(--primary-button-contact-text);
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .1rem;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    line-height: 1.5;
    text-justify: auto
}

.paragraph--rich-text__boton_social {
    background-color: var(--primary-button-contact-background);
    max-height: 45px;
}


.paragraph--rich-text__boton_social:hover {
    filter: invert(97%) sepia(15%) saturate(17%) hue-rotate(187deg) brightness(113%) contrast(100%);
    max-height: 45px;

}

.container--rich-text__text-redes  {
    vertical-align: text-bottom;
    max-height: 75px;
}

.paragraph--rich-text__text-redes {
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: .875rem;
    line-height: 1rem;
    letter-spacing: .2rem;
    color: var(--primary-button-contact-text);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}




.paragraph--rich-text__bottom {
    margin: 1.5rem 0;
    font-size: .8rem;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    opacity: .7;
    line-height: 1.5;
}


.container--text-mid-left-01{
    font-size: 1.125rem;
    align-items: center;
    justify-content: center;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    color: #1d1d1b;
    letter-spacing: .1rem;
}

.paragraph--text-mid-left-01 {
    font-family: Roboto,sans-serif;
    font-weight: 400;
}

.strong--text-mid-left-01{
    letter-spacing: .25rem;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    justify-content: center;

}

.container--footer-mid-button-text{
    justify-content: center;
    
}

.paragraph--footer-mid-button-text{
    background-color: #000;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 1rem;
   
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    padding: 0 3rem;
    margin: 0;
    height: 100%;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.paragraph--footer-mid-button-text:hover{
    background-color:#fff ;
    color: #000;
    font-family: Roboto,sans-serif;
    font-weight: 500;
    font-size: 1rem;
   
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 2.5rem;
    letter-spacing: .2rem;
    padding: 0 3rem;
    margin: 0;
    height: 100%;
    border: 1px solid #000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.container--rich-text__boton-top-link{
    font-size: 1.5rem;
    letter-spacing: .2rem;
    justify-content: center;
    line-height: 30px;
}

.container--rich-text__boton-top{
    font-size: 1.5rem;
    letter-spacing: .2rem;
    justify-content: center;
    line-height: 30px;
}
.paragraph--rich-text__boton-top-link{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: #1d1d1b !important;
}

.paragraph--rich-text__boton-top{
    font-family: Roboto,sans-serif;
    font-weight: 400;
    color: #1d1d1b !important;
}

.strong--rich-text__boton-top-link{
    color: #1d1d1b !important;
    text-decoration: none;
    line-height: 1.5;
}

.link--rich-text__boton-top-link :global(.vtex-rich-text-0-x-link){
    color: #1d1d1b !important;
    text-decoration: none;
    line-height: 1.5;
}

.link--rich-text__boton-top-link {
    color: #1d1d1b !important;
    text-decoration: none;
    line-height: 1.5;
}
.link--rich-text__boton-top-link:hover {
    color: #1b1d1b !important;
    text-decoration: none;
    line-height: 1.5;
    text-decoration: underline;
}

.strong--rich-text__boton-top{
    color: #1d1d1b !important;
    text-decoration: none;
    line-height: 1.5;
}

