
.stiledLinkContent--category-item{
    color: #000;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .1rem;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
    text-align: left;
    line-height: 1.5;
    height: 20px;
    width: 90%;

}




.accordionIcon--mobile-menu-item--isOpen {
    font-size: 0;
}
 
.accordionIcon--mobile-menu-item--isClosed {
    font-size: 0;
}


.accordionIcon--mobile-menu-item--isClosed::after {
    content: "";
    display: inline-block;
    font-size: 10px;
    width: 22px;
    height: 13px;
    background: url(assets/img/arrow-footer_close.svg);
    background-repeat: no-repeat;
    transition: .3s linear ease-in-out;
    transform: rotate(0deg);
}



.accordionIcon--mobile-menu-item--isOpen::before {
    content: "";
    display: inline-block;
    font-size: 10px;
    width: 22px;
    height: 13px;
    background: url(assets/img/arrow-footer_open.svg);
    background-repeat: no-repeat;
    transition: .3s linear ease-in-out;
    transform: rotate(180deg);
}
 
.menuItem--mobile-menu-item--isClosed{
    margin-bottom: 1rem;
}



.styledLinkContainer--mobile-menu-item{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-top: 10px;

}


.styledLinkContent--mobile-menu-item{
    font-size: .875rem;
    font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    color: #3f3f40;
}


.accordionIcon--mobile-menu-item-style--isOpen {
    font-size: 0;
}
 
.accordionIcon--mobile-menu-item-style--isClosed {
    font-size: 0;
}


.accordionIcon--mobile-menu-item-style--isClosed::after {
    content: "";
    display: inline-block;
    font-size: 10px;
    width: 22px;
    height: 13px;
    background: url(assets/img/arrow-footer_close.svg);
    background-repeat: no-repeat;
    transition: .3s linear ease-in-out;
    transform: rotate(0deg);
}



.accordionIcon--mobile-menu-item-style--isOpen::before {
    content: "";
    display: inline-block;
    font-size: 10px;
    width: 22px;
    height: 13px;
    background: url(assets/img/arrow-footer_open.svg);
    background-repeat: no-repeat;
    transition: .3s linear ease-in-out;
    transform: rotate(180deg);
}
 
.menuItem--mobile-menu-item-style--isClosed{
    margin-bottom: 1rem;
    
}



.styledLinkContainer--mobile-menu-item-style{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-top: 1.5rem;
    border-top: 1px solid #656565;

}


.styledLinkContent--mobile-menu-item-style{
    font-size: .875rem;
    font-family: San Francisco,-apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    color: #3f3f40;
  /*   padding-top: 1.5rem;
    border-top: 1px solid #656565; */
    
}


.stiledLinkContent--mobile-category-item{
    color: #000;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-size: .75rem;
    font-weight: 300;
    letter-spacing: .1rem;
    transition: all .2s ease-in-out;

   
    text-align: left;

    box-sizing: border-box;
    background-color: transparent;
    cursor: pointer;
   
    line-height: 2;
    height: 20px;
    width: 90%;


    
}

/*  .menuContainer--submenu-item{

    margin: .70rem .20rem .20rem 0;
}  */


.menuItem--mobile-category-item--isClosed {
        padding: 5px 0;
}