/* .headerRowBackground--header__top{
    background-color: black;
}
 */

 /* .vtex-menu-2-x-styledLinkContent--login {
    content: url(https://nafnaf.vtexassets.com/assets/vtex/assets-builder/nafnaf.nafnaf-store/0.84.0/icons/icon-account___15951007ad7bedb2ecf73917a62e357d.svg);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 12px;
    transition: all .3s ease-in-out;
 }
.profileIcon {
    content: url(https://nafnaf.vtexassets.com/assets/vtex/assets-builder/nafnaf.nafnaf-store/0.84.0/icons/icon-account___15951007ad7bedb2ecf73917a62e357d.svg);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 12px;
    transition: all .3s ease-in-out;
}

.profileIcon {
    fill: black;
    width: 16px;
    height: 16px;

    content: url(https://nafnaf.vtexassets.com/assets/vtex/assets-builder/nafnaf.nafnaf-store/0.84.0/icons/icon-account___15951007ad7bedb2ecf73917a62e357d.svg);
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 12px;
    transition: all .3s ease-in-out;

} */