.headerRowContainer--header__bottom {
  justify-content: space-between; 
    background-color: transparent;
    margin: 0 auto;
    max-width: 88vw;
    
}

.headerStickyRow--header__bottom {
    background-color:transparent;
    color: black;
    
}

.headerRowContentContainer--header__bottom {
    background-color: transparent;
}

.headerRowBackground--header__bottom {
    background-color: transparent;
}

.headerRow--header__bottom{
   
    height: auto;
    display: block;
    padding: .75rem 0;
    position: relative;
    z-index: 10;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    max-width: 88vw;
}


