.logoContainer--logo-header {
    justify-content: center;
    align-items: center;
    padding: 12px;
}
.logoImage--logo-header {
    max-width: 10vw;
    min-width: 100px;
    padding-right: 1vw;
    
}

.imageElement--img-card-submenu{
    width: auto;
    height: auto;
    margin: 0 auto;
    border-color: #e3e4e6;
    position: relative;
  
}

.imageElementLink--img-card-submenu{
    align-items: center !important;
    justify-content: center;
}
.imageElement--searchIcon{
    max-width: 17px;
    max-height: 17px;
}

.searchBarContainer {
    max-width: 20vw;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    color: #727273;
    border-radius: 1px;
    
}

.searchBarContainer{
    padding: 0;
    max-width: unset;
    width: 100%;
    border: none;
    border-bottom: 1px solid #dedede;
    border-radius: 0;
    
}
.contentContainer{
    max-width: 88vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}
.contentScroll{
    max-width: 88vw;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.searchBarIcon--search{
    padding: 0;
    min-width: 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: 50%;
}

@media (max-width: 1024px) {

    .logoImage--logo-header {
        max-width: 24vW;
    }
    .logoContainer--logo-header {
        padding-left: .5rem;
        padding-bottom: 0.75rem;
        padding-right: 1.5rem;
        padding-top: 0.75rem;
    }
}
