@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/roboto-v30-latin-regular.ttf);
}

@font-face {
   font-family: 'Open Sans';
    src: url(assets/fonts/open-sans-v34-latin-regular.ttf);
}

